<ul id="nav">
  <li><a href="/Sandbox" target="_top">DLF AIG Metadata Working Group Toolkit</a></li>
  <li><a href="/Sandbox/entries/about" target="_top">About &amp; Contact</a></li>
  <li><a href="/Sandbox/entries/take-part" target="_top">Participate</a></li>
  <!--<li><a href="https://dlfaigmwgdev.herokuapp.com/why.html"target="_top">Importance of Metadata Assessment</a></li> -->
  <li><a href="/EnvironmentalScan/">Environmental Scan</a>
	  <ul>
		<li><a href="/EnvironmentalScan/entries/31organizations.html">Organizations &amp; Groups</a></li>
		<li><a href="/EnvironmentalScan/entries/32presentations.html">Presentations</a></li>
		<li><a href="/EnvironmentalScan/entries/33publications.html">Publications</a></li>
		<li><a href="/EnvironmentalScan/entries/34tools.html">Tools</a></li>
		<li><a href="/EnvironmentalScan/entries/35citation.html">Citations</a></li>
		<li><a href="/EnvironmentalScan/entries/37contributors.html">2016 Contributors</a></li>
      </ul>
  </li>
  <li><a href="/Framework/" target="_top">Metadata Assessment Framework</a>
  <li><a href="/Tools" target="_top">Tools for Metadata Assessment</a></li>
  <li><a href="/MetadataSpecsClearinghouse" target="_top">Metadata Profiles &amp; Mappings Clearinghouse</a></li>
  <!-- <li><a href="https://dlfaigmwgdev.herokuapp.com/Resources" target="_top">Glossary &amp; Resources</a></li> -->
  <li><a href="/Sandbox/entries/collaborations">Collaborations</a></li>
  <li><a href="https://dlfmetadataassessment.github.io/Sandbox/entries/contributors">Contributors</a></li>
</ul>
